@using DataDisplayer.Models
@using DataDisplayer.Services
@inject TopicService TopicService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Robin ABU</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (topics == null)
        {
            <div class="nav-item px-3">
                <span class="nav-link">Loading...</span>
            </div>
        }
        else
        {
            @foreach (var topic in topics)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"topic/{topic.Id}")">
                        <span class="@topic.Icon" aria-hidden="true"></span> @topic.Name
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private List<Topic>? topics;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        topics = await TopicService.GetTopicsAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
